

.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "he he"
  "na co";
}


.app-wrapper-content {

    grid-area: co;
    background-color: darkgrey;

}


